.navbar {
  background-color: #e6e6e6;
  color: #c80000;
  border-bottom: 5px solid #c80000;
  font-size: 18px;
  .navbar-brand {
    font-size: 24px;
    color: #c80000;
    font-weight: bolder;
    margin-right: 50px;
  }
  .navbar-toggle {
    background-color: none;
    border: none;
  }
  .icon-bar {
    background-color: #c80000 !important;
    height: 3px;
  }
  .active > a {
    color: #c80000 !important;
    font-weight: bold;
  }
  li:hover {
    background-color: #b4b4b4;
    padding-bottom: 1px;
    transition: 300ms;
    a {
      color: #c80000 !important;
    }
  }  
  .dropdown-menu {
    font-size: 16px;
  }
}
