.amourintro{
  position: relative;
  margin-bottom: 50px;
}

.amourintro p{
  font-size: 20px;
  margin-left: 20px;
  margin-bottom: 50px;
}

div .detaille img{
  width: 30%;
  position: relative;
  margin-top: 40px;
  display: inline;
  margin-left: 11%;
}

.conclusion{
  font-size: 20px;
  margin-left: 20px;
  margin-bottom: 50px;
}
