.container{
  position: relative;
  margin-top: 50px;
  width: 81%;
  .img-rounded{
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.6), 0 1px 8px 1px rgba(0, 0, 0, 0.5);
  }
  .col-sm-3{
    margin-top: 20px;
    font-size: 18px;
    }
}

.intro{
  position: relative;
  margin-left: 80px;
  font-size: 20px;
  display: block;
  margin-right: 60px;
}

.sondage{
  position: relative;
  font-size: 20px;
  margin:{
    top: 70px;
    bottom: 40px;
    left: 80px;
    right: 60px;
  }
  img{
  width: 60%;
  margin-left: 20%;
  }
}
